/autom4te.cache
/aclocal.m4
/compile
/configure
/config.log
/config.status
/depcomp
/install-sh
/missing
/test-driver

/config.h
/config.h.in
/stamp-h*

Makefile
Makefile.in

?deps/
?dirstamp

*.o
*.log
*.trs
*Test
*_test

TAGS
tags
cscope.*

/src/sesh

